html, body{
    margin: 0;
    padding: 0;
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
}
@keyframes myAnimation{
    0% {left: 0px; top: 0px;}
    25% {left: 200px; top: 0px}
    50% {left: 200px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}

}